*{
    margin:0;
    padding:0;
}
.hero{
    height:100vh;
    width:100%;
    background:#edf2fc;
    font-family:sans-serif;
    position:relative;
}
nav{
    width:84%;
    margin:auto;
    padding:20px 0;

    align-items:center;

}
.logo{

    display:flex;
    font-style:italic;
    justify-content: space-between;

}
.log02{
    text-align: right;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:30px 30px;

}
nav ul li a{
    text-decoration:none;
    color:#606163;

    font-size: 15pt;
}
nav ul li a:hover{
    color:#ff4321;
}
.nav1{
    width:84%;
    margin:auto;
    padding:20px 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logo1{
    font-size: 30pt;
    display:flex;
    font-style: normal;
    color: red;
}
*{
    box-sizing:border-box;
}
.glass{
    width:40%;
    float:left;
    margin-left:30px;
    margin-right:40px;
    padding:30px;

}
.glass img{
    height:400px;
}
* {box-sizing: border-box}


  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: white;
}
::selection{
  background: white;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: white;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}